{
	email {$ACME_EMAIL}
}

{$API_DOMAIN} {
	encode zstd gzip
	reverse_proxy app:8080
}

{$ML_DOMAIN} {
	encode zstd gzip
	reverse_proxy ai:8000
}

{$LIVEKIT_DOMAIN} {
	reverse_proxy livekit:7880
}

{$MINIO_DOMAIN} {
	encode zstd gzip

	reverse_proxy minio:9000 {
		header_up Host {host}
	}
}
